:root {
    --action-color: #ff6c00;
    --dark-bg-light-text: #9da4bd;
    --dark-bg-title-text: #ffffff;
    --main-title-color: #303030;
    --second-title-color: rgba(157, 164, 189, 0.6);
    --main-text-color: #555555;
    --second-bg-section-color: #F7F7F7;
    --bg-dark-color: #191C26;
    --main-font: 'Open Sans', sans-serif;
    --title-font: 'Raleway', sans-serif;
}