.header {
    position: absolute;
    width: 100%;

    &__burger-icon {
        fill: var(--dark-bg-title-text);
        right: 20px;

        @media screen and (min-width: 768px) {
                display: none;
        }
    }
}

.logo-header {
    margin-right: 60px;
    @media screen and (min-width: 1280px) {
    margin-right: 70px;
    }
}

.header-menu{
    width: 100%;
        display: none;
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
    @media screen and (min-width: 1280px) {
        padding-top: 33px;
    }

}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 480px;
    padding-top: 40px;

    @media screen and (min-width: 768px) {  
        max-width: 768px;
        padding-top: 0px;
    }
    @media screen and (min-width: 1280px) {
        max-width: 1280px;
    }
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;

    &__list{
        display: flex;
        gap: 25px;
        @media screen and (min-width: 1280px) {
            gap: 40px;
        }
    }
    &__link{
        display: inline-block;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        padding: 13px 0;
        color: var(--dark-bg-title-text);
        transition: color 250ms linear;
        &:hover,
        &:focus{
            color: var(--action-color);
        }
    }

    &__contact{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;

        @media screen and (min-width: 1280px) {
            max-width: 1280px;
            flex-direction: row;
            align-items: center;
            gap: 40px;
        }
    }
    &___phone{
            color: var(--dark-bg-title-text);
            transition: color 250ms linear;

            &:hover,
            &:focus{
            color: var(--action-color);
            }
    }

    &__btn{
        letter-spacing: 0.09em; 
        color: var(--dark-bg-title-text);
        
        @media screen and (min-width: 768px) {
            margin-top: 40px;
        }
        @media screen and (min-width: 1280px) {
        margin-top: 0px;    
        }
    }
}

