.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

body {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;
}

input,
textarea {
    background-color: transparent;
    border: none;
}

.section{
    padding: 84px 0;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
        padding: 100px 0;
    }
    @media screen and (min-width: 1280px) {
        padding: 130px 0;
    }
}